/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.button {
  height: 32px;
  min-width: 98px;
  border-radius: 30px;
  background: #bbf330;

  color: #2c2c2c;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

.hero {
}
.hero-button {
  display: block;
  margin-right: auto;
}
.container-hero {
  background: #fefefe;
  display: flex;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
}
.hero-title {
  width: 502.417px;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  width: 511px;
  line-height: 1.5;
  margin-bottom: 40px;
  margin-right: 143px;
}
.hero-img {
  width: 580px;
  height: 580px;
  flex-shrink: 0;
  border-radius: 580px;
  border: 26px solid #ffe550;
  background-color: #fefefe;
  margin: 14px 0;
}

.special-offer-section {
  display: flex;
  justify-content: center;
  background: var(--White, #fefefe);
}

.special-offer {
  display: block;
}

.offer-title {
  min-width: 656px;
  height: 50px;
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
  margin-bottom: 20px;
}

.offer-text {
  width: 532px;
  height: 48px;
  margin-bottom: 36px;
  color: var(--Black, #2c2c2c);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.form-button {
  display: flex;
}
.input-form {
  height: 42px;
  width: 395px;
  padding: 12px 57px 12px 12px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 30px;
  border: 0.854px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
}

.button {
  margin-left: 32px;
  height: 42px;
  min-width: 103px;
  border-radius: 30px;
  background: #bbf330;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
