/* Стилі для обнулення верхніх відступів у елементів */
.hide {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  color: #2c2c2c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

/* Властивості для заголовків */

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: overflow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desctop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/********** H E A D E R (Nelli) *******/

.header {
  background: #fefefe;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.header-menu {
  display: none;
}

.header-btn {
  display: none;
  height: 32px;
  min-width: 98px;
  padding: 6px 18px;
  color: currentColor;
  background-color: #bbf330;
  margin-left: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  background-color: #ffe450;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .header-btn {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}

.header-container,
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  position: relative;
}
.header-nav {
  flex-basis: 100%;
}

.header-logo {
  margin-right: auto;
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  color: currentColor;
  display: block;
  padding: 28px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-line 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  font-weight: 700;
  color: #bbf330;
  text-decoration-line: underline;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  cursor: pointer;
  color: #7eb101;
  background-color: transparent;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover,
.burger-btn:focus,
.burger-btn:active {
  color: #ffe550;
}

.burger-btn-icon {
  fill: currentColor;
  max-width: 28px;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 170px;
  height: 311px;
  background-color: #bbf330;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateY(0);
  visibility: visible;
}

.mobile-menu-link {
  display: block;
  padding: 16px;
  color: #000;
}

.mobile-menu-link.active {
  font-weight: 700;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: currentColor;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-btn-icon {
  color: currentColor;
  max-width: 24px;
}

/********** H E A D E R - E N D *******/

/**********  H E R O (Inna) *******/

.hero {
  margin-top: 60px;
  margin-bottom: 91px;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-bottom: 42px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero {
    margin-top: 14px;
    margin-bottom: 69px;
  }
}

.container-hero {
  background-color: #fefefe;
}

@media only screen and (min-width: 768px) {
  .container-hero {
    min-height: 409px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-hero {
    display: flex;
    justify-content: space-between;
  }
}

.container.container-hero {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container.container-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container.container-hero {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero-title {
  max-width: 280px;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 537px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    width: 502.417px;
    font-size: 48px;
    margin-top: 159px;
    margin-bottom: 28px;
  }
}

.hero-text {
  max-width: 288px;
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 336px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text {
    max-width: 511px;
  }
}

.header-btn.hero-button {
  display: block;
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .hero-button {
    margin-bottom: 73px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-button {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .hero-img-wrapper {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 320px;
    height: 320px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-img-wrapper.position {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-img-wrapper {
    margin: 14px 14px 14px 0;
  }
}

@media only screen and (max-width: 767px) {
  .hero-img {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-img {
    border-radius: 320px;
    border: 14px solid #ffe550;
    background: #fff;
    flex-shrink: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1280px) {
  .hero-img {
    flex-shrink: 0;
    border-radius: 580px;
    border: 26px solid #ffe550;
    background-color: #fefefe;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero-img:hover,
.hero-img:focus,
.hero-img:active {
  border-color: #bbf330;
}

.hero-arrow-btn {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .hero-arrow-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hero-arrow-btn {
    max-width: 34px;
    max-height: 28px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
    cursor: pointer;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1280px) {
  .hero-arrow-btn {
    display: none;
  }
}

.arrow-icon {
  fill: #2c2c2c;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-icon:hover,
.arrow-icon:focus {
  fill: #7eb101;
}

.arrow-icon:active {
  fill: #2c2c2c;
}

.hero-arrow-btn:focus,
.hero-arrow-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.16));
}

.left {
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
}

.right {
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}

/**********  H E R O - E N D   *******/

/**********  O F F E R I N G S  (Nataliia) *******/

.offerings {
  background-color: #ffe550;
  margin-bottom: 120px;
}

.container-offerings {
  display: flex;
  background-color: #ffe550;
  gap: 90px;
  padding: 167px 51px 124px 16px;
  margin: 0 auto 120px;
}

.offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.offer-img-bg {
  position: relative;
  width: 502px;
  height: 502px;
  flex-shrink: 0;
  border-radius: 502px;
  background-color: #fefefe;
}

.offer-img-apple {
  position: absolute;
  left: 60px;
  top: -78px;
}

.offer-content {
  padding-top: 29px;
}

.offer-title {
  margin-bottom: 20px;
}

.offer-text {
  width: 500px;
  margin-bottom: 40px;
}

.offer-all-items {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offer-item {
  width: 253px;
}

.offer-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #fefefe;
  border-radius: 50%;
  margin-bottom: 8px;
}

.offer-icon {
}

.offer-item-title {
  margin-bottom: 16px;
}

.offer-item-text {
  font-size: 14px;
}

.offer-btn {
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #fff;
}

/**********  O F F E R I N G S - E N D *******/

/***********  F A V O R I T E S  (Sergiy M) ***********/

.favorites {
  margin-top: 120px;
  margin-bottom: 100px;
}

.favorites-title {
  text-align: center;
  margin-bottom: 20px;
}

.favorites-text {
  text-align: center;
  margin-bottom: 60px;
}

@media only screen and (min-width: 1280px) {
  .favorites-text {
    margin-bottom: 60px;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin-bottom: 8px;
  list-style: none;
}

.favorites-gamburger {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-gamburger:hover,
.favorites-gamburger:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

.favorites-pasta {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-pasta:hover,
.favorites-gamburger:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

.favorites-pizza {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-pizza:hover,
.favorites-pizza:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

.favorites-chicken {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-chicken:hover,
.favorites-chicken:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

.favorites-salad {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-salad:hover,
.favorites-salad:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

.favorites-borshch {
  flex-shrink: 0;
  border-radius: 197.5px;
  border: 16px solid var(--Yellow-main, #ffe550);
  background: var(--White, #fefefe);
  margin: 40px 32;
}

.favorites-borshch:hover,
.favorites-borshch:focus {
  border: 16px solid var(--Button-green, #bbf330);
}

@media only screen and (min-width: 768px) {
  .favorites-item {
    width: calc((100% - 32px * 1) / 2);
  }
}

@media only screen and (min-width: 1280px) {
  .favorites-item {
    width: calc((100% - 32px * 2) / 3);
  }
}

/***********  F A V O R I T E S - END  ***********/

/**********  S U B S C R I B E  (Anna T.) *************/

.subscribe-section {
  padding-top: 17px;
  padding-bottom: 60px;
  background: #fefefe;
}

@media only screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 46px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe-section {
    padding-top: 176px;
    padding-bottom: 200px;
    
  }
}

.subscribe-wrapper {
}

@media only screen and (min-width: 1280px) {
  .subscribe-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

.subscribe-img {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  }
}

.subscribe-img {
  max-width: 280px;
  margin-bottom: 17px;
}

@media only screen and (min-width: 768px) {
  .subscribe-img {
    max-width: 281px;
    margin-bottom: 20px;
    margin-left: 423px;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe-img {
    max-width: 608px;
   
  }
}


.subscribe-title {
  max-width: 280px;
  height: 68px;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .subscribe-title {
    min-width: 656px;
    font-size: 42px;    
  }
}

.subscribe-text {
  max-width: 280px;
  height: 48px;
  color: #2c2c2c;
  font-family: Roboto;
  margin-bottom: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media only screen and (min-width: 768px) {
  .subscribe-text {
    max-width: 520px;
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe-text {
    max-width: 532px;
  }
}

.subscribe-input {
  height: 42px;
  min-width: 279px;
  padding: 12px 0 12px 12px;
  border-radius: 30px;
  border: 0.854px solid #ffe550;
  background-color: #fefefe;
  color: #505050;
  font-size: 12px;
  line-height: 150%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .subscribe-input {
    max-width: 395px;
    padding: 12px 57px 12px 12px;
  }
}

.subscribe-input:focus {
  outline: transparent;
  border-color: #7eb101;
}

.subscribe-btn {
  margin-left: 32px;
  height: 42px;
  min-width: 103px;
  border-radius: 30px;
  background-color: #bbf330;
  color: #2c2c2c;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767px) {
  .subscribe-btn {
    display: block;
    margin-top: 20px;
    margin-left: 176px;
  }

@media only screen and (min-width: 768px) {
  .subscribe-btn {
    margin-left: 22px;
  }
}

@media only screen and (min-width: 1280px) {
  .subscribe-btn {
    margin-left: 32px;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #ffe450;
}

/**********  S U B S C R I B E - E N D *************/

/********** F O O T E R (Katia) *******/

.footer {
  background-image: url(../img/footer/Group\ 60.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
}

.footer-container {
  padding: 100px 0;
}

.footer-logo {
  margin-right: 143px;
}

.footer-menu {
  display: inline-flex;
  align-items: center;
  gap: 28px;
  margin-right: 320px;
  padding-top: 18px;
}

.footer-link {
  color: currentcolor;
}

.footer-rules-list {
  display: flex;
}

.footer-rules-item {
  margin-right: 20px;
}

.footer-rules-item:last-child {
  margin-right: 0;
}

.rules-link {
  color: #7eb101;
  font-size: 12px;
  text-decoration-line: underline;
}

.footer-subscribe {
}

.sub-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}

.sub-email {
  display: inline-flex;
  height: 42px;
  width: 279px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  border-radius: 30px;
  border: 0.854px solid #ffe550;
  background: #fefefe;
  margin-right: 13px;
  cursor: pointer;
}

.sub-email::placeholder {
  color: #505050;
  font-size: 12px;
  flex: 1 0 0;
}

.sub-btn {
  font-size: 13px;
  font-weight: 500;
  display: inline-flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
  width: 103px;
  height: 42px;
  cursor: pointer;
}

.sub-btn:hover,
.sub-btn:focus {
  border-color: #ffe450;
}

.footer-agree {
  font-size: 12px;
  max-width: 341px;
  margin-top: 12px;
}

.footer-agree-link {
  color: #7eb101;
  text-decoration-line: underline;
}

.footer-protected {
  font-size: 12px;
  line-height: normal;
}

.footer-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 80px;
}

main {
  flex-grow: 1;
}

/********** F O O T E R - E N D *************/

/**********  M O D A L (Serhii Hudzenko) *************/

.modal-container {
  max-width: 290px;
  margin: 0 auto;
  padding: 0 5px;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop.is-open .modal {
  transform: scale(1);
  opacity: 1;
}

.modal {
  position: relative;
  top: 60px;
  padding: 16px 16px 32px 16px;
  border-radius: 30px;
  background-color: #ffe550;
  opacity: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  opacity: 0;
  transform: scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  display: block;
  border: none;
  border-radius: 50%;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #bbf330;
}

.close-button-icon {
  width: 24px;
  height: 24px;
  padding: 4px;
  fill: #2c2c2c;
}

.modal-container > .title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -12px;
}

.modal-form .label {
  display: inline-block;
  margin-left: 12px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2px;
}

.modal-form .input {
  outline: none;
  min-width: 280px;
  height: 48px;
  margin-bottom: 24px;
  padding-left: 12px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .input:last-of-type {
  margin-bottom: 32px;
}

.modal-form .input:focus {
  border: 1px solid #7eb101;
}

.modal-form .input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  line-height: 1.25;
  padding: 14px 0;
  border-radius: 30px;
}

.buttn-sent {
  display: block;
  min-width: 106px;
  margin: 0 auto;
  padding: 10px 0px;
  color: currentColor;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.buttn-sent:hover,
.buttn-sent:focus {
  background-color: #bbf330;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .modal {
    top: 98px;
    max-width: 458px;
    margin: 0 auto;
    padding: 12px 12px 32px 12px;
  }

  .modal-container {
    max-width: 426px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .modal-form .input {
    width: 394px;
  }
}

/* Desctop */
@media screen and (min-width: 1280px) {
  .modal {
    top: 129px;
  }
}

/**********  M O D A L - E N D *************/
